---
import BaseLayout from "../layouts/BaseLayout.astro";
import Separate from "../components/Separate.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import ProyectItem from "../components/ProyectItem.astro";
import TechSlider from "../components/TechSlider.astro";
import localWikiImg from "../images/wikicat.png";
import localFutbolImg from "../images/appfutbol.png";
import localDragImg from "../images/upload.png";
import esLang from "../lang/es.json";
import enLang from "../lang/en.json";
---

<BaseLayout
	pageTitle="Mariano Romero - Desarrollador Web"
	pageDescription="Soy Mariano Romero, un apasionado desarrollador web compartiendo proyectos, tutoriales y experiencias. Explora mi página personal y descubre más sobre mi trabajo y habilidades. ¡Bienvenido!"
	page="index"
>
	<section class="main-name" id="tab1">
		<div class="main-name-text">
			<h1>Mariano Romero</h1>
			<span class="main-job" lang="es">{esLang.page_index.main_job}</span>
			<span class="main-job" lang="en">{enLang.page_index.main_job}</span>
		</div>
	</section>

	<section class="container about" id="tab2">
		<div class="about-info">
			<h2 lang="es">{esLang.page_index.about.title}</h2>
			<h2 lang="en">{enLang.page_index.about.title}</h2>
			<p lang="es">{esLang.page_index.about.description}</p>
			<p lang="en">{enLang.page_index.about.description}</p>
		</div>
	</section>

	<Separate />

	<section class="container experience" id="tab-experience">
		<div class="title experience-title" lang="es">
			{esLang.page_index.experience.title}
		</div>
		<div class="title experience-title" lang="en">
			{enLang.page_index.experience.title}
		</div>

		{
			esLang.page_index.experience.items.map((el) => (
				<ExperienceItem
					title={el.title}
					subtitle={el.subtitle}
					description={el.description}
					lang="es"
				/>
			))
		}
		{
			enLang.page_index.experience.items.map((el) => (
				<ExperienceItem
					title={el.title}
					subtitle={el.subtitle}
					description={el.description}
					lang="en"
				/>
			))
		}
	</section>

	<Separate />

	<section class="container proyects">
		<div class="title proyects-title">
			<h2 class="title" lang="es">{esLang.page_index.proyects.title}</h2>
			<h2 class="title" lang="en">{enLang.page_index.proyects.title}</h2>
			<span class="sub-title" lang="es"
				>{esLang.page_index.proyects.subtitle}
				<a href="https://github.com/Romero67" target="_blank">git-hub</a
				></span
			>
			<span class="sub-title" lang="en"
				>{enLang.page_index.proyects.subtitle}
				<a href="https://github.com/Romero67" target="_blank">git-hub</a
				></span
			>
		</div>

		<div class="cont-proyects">
			<ProyectItem
				url="https://main--funny-faloodeh-7a01df.netlify.app/"
				img={localWikiImg}
				imgAlt="Wiki Cat"
				title={esLang.page_index.proyects.item_wikicat.title}
				description={esLang.page_index.proyects.item_wikicat
					.description}
				lang="es"
			/>
			<ProyectItem
				url="https://main--funny-faloodeh-7a01df.netlify.app/"
				img={localWikiImg}
				imgAlt="Wiki Cat"
				title={enLang.page_index.proyects.item_wikicat.title}
				description={enLang.page_index.proyects.item_wikicat
					.description}
				lang="en"
			/>

			<ProyectItem
				url="https://app-clasificacion-equipos-argentinos-2.vercel.app/"
				img={localFutbolImg}
				imgAlt="App scrapper fútbol"
				title={esLang.page_index.proyects.item_scrapper.title}
				description={esLang.page_index.proyects.item_scrapper
					.description}
				lang="es"
			/>
			<ProyectItem
				url="https://app-clasificacion-equipos-argentinos-2.vercel.app/"
				img={localFutbolImg}
				imgAlt="App scrapper fútbol"
				title={enLang.page_index.proyects.item_scrapper.title}
				description={enLang.page_index.proyects.item_scrapper
					.description}
				lang="en"
			/>

			<ProyectItem
				url="https://bespoke-cat-a77f15.netlify.app/"
				img={localDragImg}
				imgAlt="Drag and Drop"
				title={esLang.page_index.proyects.item_draganddrop.title}
				description={esLang.page_index.proyects.item_draganddrop
					.description}
				lang="es"
			/>
			<ProyectItem
				url="https://bespoke-cat-a77f15.netlify.app/"
				img={localDragImg}
				imgAlt="Drag and Drop"
				title={enLang.page_index.proyects.item_draganddrop.title}
				description={enLang.page_index.proyects.item_draganddrop
					.description}
				lang="en"
			/>
		</div>
	</section>

	<Separate />

	<TechSlider/>

	<Separate />

	<div class="container container-form">
		<form id="contact-form" class="form-mail">
			<input type="hidden" name="contact_number" />
			<div class="form-mail-title">
				<span class="form-mail-title-text" lang="es"
					>{esLang.page_index.contact_form.title}</span
				>
				<span class="form-mail-title-text" lang="en"
					>{enLang.page_index.contact_form.title}</span
				>
			</div>
			<div class="form-mail-cont">
				<div class="form-mail-cont-inputs">
					<label for="form_nombre" lang="es">{esLang.page_index.contact_form.plh_name}</label>
					<label for="form_nombre" lang="en">{enLang.page_index.contact_form.plh_name}</label>
					<input
						type="text"
						id="form_nombre"
						name="nombre"
					/>
					<label for="form_mail" lang="es">{esLang.page_index.contact_form.plh_mail}</label>
					<label for="form_mail" lang="en">{enLang.page_index.contact_form.plh_mail}</label>
					<input
						type="text"
						id="form_mail"
						name="mail"
					/>
				</div>
				<div class="form-mail-contador">
					<label for="form_mensaje" lang="es">{esLang.page_index.contact_form.plh_message}</label>
					<label for="form_mensaje" lang="en">{enLang.page_index.contact_form.plh_message}</label>
					<textarea
						id="form_mensaje"
						cols="30"
						rows="10"
						name="mensaje"></textarea>
					<span class="form-contador-text"></span>
				</div>
			</div>

			<div class="form-mail-send">
				<button type="submit" lang="es">{esLang.page_index.contact_form.btn_send}</button>
				<button type="submit" lang="en">{enLang.page_index.contact_form.btn_send}</button>
				<span class="form-msj-error"></span>
				<span class="form-msj-success"></span>
			</div>
		</form>
	</div>

	<script type="module" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
	<script type="module" is:inline>

		function limitarCaracteres() {
		const maxCaracteres = 500; // Número máximo de caracteres
		const textarea = document.getElementById('form_mensaje');
		const contador = document.querySelector('.form-contador-text');

		textarea.addEventListener('input', function () {
			const caracteresRestantes = maxCaracteres - textarea.value.length;

			if (caracteresRestantes >= 0) {
			contador.textContent = `${caracteresRestantes}/${maxCaracteres}`;
			} else {
			textarea.value = textarea.value.slice(0, maxCaracteres);
			}
		});
		}

		// Llama a la función para inicializar la limitación de caracteres


		function validarFormContacto() {
			var formNombre = document.getElementById('form_nombre').value;
			var formMail = document.getElementById('form_mail').value;
			var formMensaje = document.getElementById('form_mensaje').value;

			if (!formNombre || formNombre === '') {
				showErrorMessage("Completar campo nombre, por favor");
				return false;
			}

			if (!formMail || formMail === '') {
				showErrorMessage("Completar campo mail, por favor");
				return false;
			}

			if (!formMensaje || formMensaje === '') {
				showErrorMessage("Escribe el mensaje, por favor");
				return false;
			}

			return true;
		}

		function initFormContact() {
			limitarCaracteres();

			document.getElementById('contact-form').addEventListener('submit', handleSubmit);
		}

		function limpiarForm() {
			document.getElementById('form_nombre').value = '';
			document.getElementById('form_mail').value = '';
			document.getElementById('form_mensaje').value = '';
		}

		function showSuccesMessage(msg) {
			const msjError = document.querySelector('.form-msj-error');
			msjError.textContent = msg;

			setTimeout(() => {
				msjError.textContent = '';
			}, 3000);
		}

		function handleSubmit(event) {
			event.preventDefault();

			if (!validarFormContacto()) return;

			this.removeEventListener('submit', handleSubmit);

			this.contact_number.value = Math.random() * 100000 | 0;

			emailjs.sendForm('service_pkqjivo', 'template_dv1q3cb', this)
			.then(function () {
				limpiarForm();
				showSuccesMessage('¡Se ha enviado correctamente!');
			}, function (error) {
				showErrorMessage('Ha ocurrido un error');
				initFormContact();
			});
		}

		emailjs.init('hMBEO4TAW2Lc_EqOs');
		initFormContact()
	</script>
</BaseLayout>
