---
import BaseLayout from "../layouts/BaseLayout.astro";
import Separate from "../components/Separate.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import ProyectItem from "../components/ProyectItem.astro";
import TechSliderItem from "../components/TechSliderItem.astro";
import localWikiImg from "../images/wikicat.png";
import localFutbolImg from "../images/appfutbol.png";
import localDragImg from "../images/upload.png";
import localHtmlSvg from "../images/html.svg?raw";
import localCssSvg from "../images/css.svg?raw";
import localJsSvg from "../images/js.svg?raw";
import localSassSvg from "../images/sass.svg?raw";
import localMongodbSvg from "../images/mongodb.svg?raw";
import localNodejsSvg from "../images/nodejs.svg?raw";
import localGitSvg from "../images/git.svg?raw";
import esLang from "../lang/es.json";
import enLang from "../lang/en.json";
---

<BaseLayout
	pageTitle="Mariano Romero - Desarrollador Web"
	pageDescription="Soy Mariano Romero, un apasionado desarrollador web compartiendo proyectos, tutoriales y experiencias. Explora mi página personal y descubre más sobre mi trabajo y habilidades. ¡Bienvenido!"
	page="index"
>
	<section class="main-name" id="tab1">
		<div class="main-name-text">
			<h1>Mariano Romero</h1>
			<span class="main-job" lang="es">{esLang.page_index.main_job}</span>
			<span class="main-job" lang="en">{enLang.page_index.main_job}</span>
		</div>
	</section>

	<section class="container about" id="tab2">
		<div class="about-info">
			<h2 lang="es">{esLang.page_index.about.title}</h2>
			<h2 lang="en">{enLang.page_index.about.title}</h2>
			<p lang="es">{esLang.page_index.about.description}</p>
			<p lang="en">{enLang.page_index.about.description}</p>
		</div>
	</section>

	<Separate />

	<section class="container experience">
		<div class="title experience-title" lang="es">
			{esLang.page_index.experience.title}
		</div>
		<div class="title experience-title" lang="en">
			{enLang.page_index.experience.title}
		</div>

		{
			esLang.page_index.experience.items.map((el) => (
				<ExperienceItem
					title={el.title}
					subtitle={el.subtitle}
					description={el.description}
					lang="es"
				/>
			))
		}
		{
			enLang.page_index.experience.items.map((el) => (
				<ExperienceItem
					title={el.title}
					subtitle={el.subtitle}
					description={el.description}
					lang="en"
				/>
			))
		}
	</section>

	<Separate />

	<section class="container proyects">
		<div class="title proyects-title">
			<h2 class="title" lang="es">{esLang.page_index.proyects.title}</h2>
			<h2 class="title" lang="en">{enLang.page_index.proyects.title}</h2>
			<span class="sub-title" lang="es"
				>{esLang.page_index.proyects.subtitle}
				<a href="https://github.com/Romero67" target="_blank">git-hub</a
				></span
			>
			<span class="sub-title" lang="en"
				>{enLang.page_index.proyects.subtitle}
				<a href="https://github.com/Romero67" target="_blank">git-hub</a
				></span
			>
		</div>

		<div class="cont-proyects">
			<ProyectItem
				url="https://main--funny-faloodeh-7a01df.netlify.app/"
				img={localWikiImg}
				imgAlt="Wiki Cat"
				title={esLang.page_index.proyects.item_wikicat.title}
				description={esLang.page_index.proyects.item_wikicat
					.description}
				lang="es"
			/>
			<ProyectItem
				url="https://main--funny-faloodeh-7a01df.netlify.app/"
				img={localWikiImg}
				imgAlt="Wiki Cat"
				title={enLang.page_index.proyects.item_wikicat.title}
				description={enLang.page_index.proyects.item_wikicat
					.description}
				lang="en"
			/>

			<ProyectItem
				url="https://app-clasificacion-equipos-argentinos-2.vercel.app/"
				img={localFutbolImg}
				imgAlt="App scrapper fútbol"
				title={esLang.page_index.proyects.item_scrapper.title}
				description={esLang.page_index.proyects.item_scrapper
					.description}
				lang="es"
			/>
			<ProyectItem
				url="https://app-clasificacion-equipos-argentinos-2.vercel.app/"
				img={localFutbolImg}
				imgAlt="App scrapper fútbol"
				title={enLang.page_index.proyects.item_scrapper.title}
				description={enLang.page_index.proyects.item_scrapper
					.description}
				lang="en"
			/>

			<ProyectItem
				url="https://bespoke-cat-a77f15.netlify.app/"
				img={localDragImg}
				imgAlt="Drag and Drop"
				title={esLang.page_index.proyects.item_draganddrop.title}
				description={esLang.page_index.proyects.item_draganddrop
					.description}
				lang="es"
			/>
			<ProyectItem
				url="https://bespoke-cat-a77f15.netlify.app/"
				img={localDragImg}
				imgAlt="Drag and Drop"
				title={enLang.page_index.proyects.item_draganddrop.title}
				description={enLang.page_index.proyects.item_draganddrop
					.description}
				lang="en"
			/>
		</div>
	</section>

	<Separate />

	<section class="container technologies">
		<div class="tech-slider">
			<TechSliderItem
				img={localHtmlSvg}
				imgAlt="Icon HTML"
				title="HTML"
			/>
			<TechSliderItem img={localCssSvg} imgAlt="Icon CSS" title="CSS" />
			<TechSliderItem
				img={localJsSvg}
				imgAlt="Icon Javascript"
				title="Javascript"
			/>
			<TechSliderItem
				img={localSassSvg}
				imgAlt="Icon Sass"
				title="Sass"
			/>
			<TechSliderItem
				img={localMongodbSvg}
				imgAlt="Icon MongoDB"
				title="MongoDB"
			/>
			<TechSliderItem
				img={localNodejsSvg}
				imgAlt="Icon Nodejs"
				title="Nodejs"
			/>
			<TechSliderItem img={localGitSvg} imgAlt="Icon GIT" title="GIT" />
		</div>
	</section>

	<Separate />

	<div class="container container-form">
		<form id="contact-form" class="form-mail">
			<input type="hidden" name="contact_number" />
			<div class="form-mail-title">
				<span class="form-mail-title-text" lang="es"
					>{esLang.page_index.contact_form.title}</span
				>
				<span class="form-mail-title-text" lang="en"
					>{enLang.page_index.contact_form.title}</span
				>
			</div>
			<input
				type="text"
				placeholder={esLang.page_index.contact_form.plh_name}
				id="form_nombre"
				name="nombre"
				lang="es"
			/>
			<input
				type="text"
				placeholder={enLang.page_index.contact_form.plh_name}
				id="form_nombre"
				name="nombre"
				lang="en"
			/>
			<input
				type="text"
				placeholder={esLang.page_index.contact_form.plh_mail}
				id="form_mail"
				name="mail"
				lang="es"
			/>
			<input
				type="text"
				placeholder={enLang.page_index.contact_form.plh_mail}
				id="form_mail"
				name="mail"
				lang="en"
			/>
			<div class="form-mail-contador">
				<textarea
					id="form_mensaje"
					cols="30"
					rows="10"
					name="mensaje"
					placeholder={esLang.page_index.contact_form.plh_message}
					lang="es"></textarea>
				<textarea
					id="form_mensaje"
					cols="30"
					rows="10"
					name="mensaje"
					placeholder={enLang.page_index.contact_form.plh_message}
					lang="en"></textarea>
				<span class="form-contador-text"></span>
			</div>

			<div class="form-mail-send">
				<button type="submit"
					>{enLang.page_index.contact_form.btn_send}</button
				>
				<span class="form-msj-error"></span>
				<span class="form-msj-success"></span>
			</div>
		</form>
	</div>

	<Separate />

	<script>
		import "../scripts/slick/slick.js";
		import "../scripts/main.js";
	</script>
	<script is:inline>
		const userLanguage = navigator.language || navigator.userLanguage;
		
		let langToDelete = ""

		if (userLanguage.startsWith("es")) {
			langToDelete = 'en'
		} else if (userLanguage.startsWith("en")) {
			langToDelete = 'es'
		} else {
			langToDelete = 'en'
		}

		
	</script>
</BaseLayout>

<!-- TENGO QUE APLICAR LOS BOTONES EN DESKTOP, MODO CLARO/OSCURO, ES/EN
VERIFICAR QUE TODO ANDE BIEN -->
